/* main page defaults */
/* ID styles   */

body 
{	
background-image:url('../images/background.png');
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
#header {
	height:auto;
	width:95%;
	padding:0px;
	margin:0 auto;
	background-image:url('../images/background.png')
}
#header img{
	width: 95%
}
#subbanner {
	width: 98%;
	margin: 10px auto;
	padding: 10px 10px 10px 10px;
	background-color:black;
}
div {
	background:black;
/*	height:auto;
	padding:10px 10px 10px	10px; 
	margin:10px;*/
}
/* image format css */
.robotImage {
	float:right;
	width: 340px;
	text-align: center;
}
.robotImage img {
	height: 240px;
	text-align: center;
}
.gameLogo
{
vertical-align:top;
height: 100px; 
float: left;
margin-left: 3px;
margin-right: 10px;
}
.logo
{
vertical-align:top;
height: 100px; 
float: left;
margin-right: 10px;
}
.description {
	font-family:Arial, Helvetica, sans-serif;
	font-size: medium;
}
#footer	{
	clear: both;
	width: 98%;
	height: auto;
	margin: 10px auto;
	padding: 0px 0px 0px 0px;
	background-color:black;
}

#footer img {
	width:30px; height:30px	
}

#socialMedia ul li {
	display:inline;
}	
#socialMedia img {
	width:30px; height:30px	
}

/* text tag css */
h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: xx-large;
	color:red;
	text-transform: uppercase;	
}
h2 {line-height:1.75em;
	font-family:Arial, Helvetica, sans-serif;
	font-size: large;
	color:white;
	}
h3 {font-family:Arial, Helvetica, sans-serif;
	font-size: medium;
	color:white;
	text-transform: uppercase;
	}

h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: medium;
	color:red;
}
p {font-family:Arial, Helvetica, sans-serif;
	font-size:medium;
	color:white;
	}
li{
	font-family:Arial, Helvetica, sans-serif;
	font-size:medium;
	color:white;
}
ol, ul {
	font-family:Arial, Helvetica, sans-serif;
	font-size:medium;
	list-style:none;}
}
	/*link css */

a:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size:medium;
    color: red;
}
a:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size:medium;
    color: red;
}
a:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size:medium;
    color: yellow;
}
a:active {
	font-family:Arial, Helvetica, sans-serif;
	font-size:medium;
	color: yellow;
}
a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:medium;
	color: red;
}
	
	


/* class styles */	
.banner {color:white;}
	

/******************************************************
Bootstrap Navigation Bar Style Overrides
*******************************************************/
.navbar-default {			
    background-color: black;
    border-color:#242424;
}

.navbar-header{ /*background of "Home" button and collapsed menu header*/
  background-color:maroon;
  border-radius: 5px 0px 0 0;
  -moz-border-radius: 5px 0px 0 0;
  -webkit-border-radius: 5px 0px 0 0;
}

.navbar-default .navbar-brand{
     color: white;
    font-size:small;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
     color:silver;
}

.navbar-nav{
	background-color:black; /*background color of top level menu items*/
}

.navbar .nav > li > a {
    float: none;
    line-height: 19px;
    padding: 15px 10px 5px; 
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: white;	/*text color of top level menu text */
    font-size:small;

}

/*Sets the text hover color on navbar*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: red;  
}

/*display dropdown menu on hover instead of on click */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
	margin-top:0px;
	font-size:small;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	font-size:small;
   color: #262626;   /*standard drop down text is gray */
   text-decoration: none;
   background-color: maroon;  /*change background color of links in drop down here*/
   color:white; /*text color in highlighted dropdown*/
	font-size:small;
   }
    
.navbar img {
	width:30px; height:30px	 /*Standard size for media icons*/
}

.collapsed{
	background-color:black; /*color of menu icon in collapsed menubar*/
}
