body 
{	
background-image:url('../images/background.png')
}
#header {
	height:auto;
	padding:10px 10px 20px 10px;
	margin:0 auto;
	background:black;
}

div {
	background:black;
	height:auto;
	padding:10px 10px 10px	10px;
	margin:10px;
}
/* image format css */
.robotImage {
	float:right;
	width: 340px;
	text-align: center;
}
.robotImage img {
	height: 240px;
	text-align: center;
}
.gameLogo
{
vertical-align:top;
height: 100px; 
float: left;
margin-left: 3px;
margin-right: 10px;
}
.description {
	font-family:Arial, Helvetica, sans-serif;
	font-size: small;
}


/* text tag css */
h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 36px;
	color:red;
	text-transform: uppercase;	
}
h2 {font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	color:white;
	}
h3 {font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:white;
	text-transform: uppercase;
	}
h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:red;
}
p {font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:white;
	}
li{
	color:white;
}

	/*link css */
a:link {
	font-size:16px;
    color: red;
}
a:visited {
	font-size:16px;
    color: red;
}
a:hover {
	font-size:16px;
    color: yellow;
}
a:active {
    color: yellow;
}
a {
	color: red;
}
	
