vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|24 Jul 2015 21:47:02 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|LORIG_LAPTOP\\Lori
vti_modifiedby:SR|LORIG_LAPTOP\\Lori
vti_timecreated:TR|20 Jun 2015 04:36:59 -0000
vti_nexttolasttimemodified:TW|24 Jul 2015 21:47:02 -0000
vti_backlinkinfo:VX|Archive/AwardSubmissions.html TeamAdmin/Forms.html About/Calendar.html TeamAdmin/ApplicationProcess.html css/Fixed\\ Top\\ Navbar\\ Example\\ for\\ Bootstrap.html About/67Percent.html css/Template.dwt Archive/EngineeringDesign.html Archive/TeamHistory.html TeamAdmin/Governance.html About/CommunityOutreach.html main.html main_copy.html About/ContactUs.html Resources/CAD.html
vti_cacheddtm:TX|24 Jul 2015 21:47:02 -0000
vti_filesize:IR|5363
vti_cachedlinkinfo:VX|S|../images/background.png S|../images/background.png
vti_cachedsvcrellinks:VX|FSUS|images/background.png FSUS|images/background.png
