vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Jul 2015 01:35:06 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|LORIG_LAPTOP\\Lori
vti_modifiedby:SR|LORIG_LAPTOP\\Lori
vti_timecreated:TR|20 Jun 2015 04:36:59 -0000
vti_nexttolasttimemodified:TW|29 Jul 2015 01:34:07 -0000
vti_backlinkinfo:VX|Archive/AwardSubmissions.html Resources/machining.html About/Calendar.html TeamAdmin/Forms.html TeamAdmin/ApplicationProcess.html About/67Percent.html css/Template.dwt Archive/EngineeringDesign.html About/CommunityOutreach.html TeamAdmin/Governance.html Archive/TeamHistory.html main.html index.html About/ContactUs.html Resources/CAD.html
vti_cacheddtm:TX|29 Jul 2015 01:35:06 -0000
vti_filesize:IR|5963
vti_cachedlinkinfo:VX|S|../images/background.png S|../images/background.png
vti_cachedsvcrellinks:VX|FSUS|images/background.png FSUS|images/background.png
